@page "/identity/account/register"
@using Syncfusion.Blazor.Popups
@layout AuthenticationLayout
@inject SfDialogService DialogService
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <EditForm Enhance Model="User" OnValidSubmit="HandleRegistration">
                <DataAnnotationsValidator />
                <div class="card bg-dark" style="opacity:0.7; border-radius:10px; color:white; font-weight:bold; margin-top:50%;">
                    <div class="card-header text-center fs-5 mb-2">Register an acccount</div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center">
                                <img src="images/companylogos/logo.jpg" height="50" width="50" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">FullName</label>
                            <InputText @bind-Value="User.Fullname" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="User.Email" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Password</label>
                            <InputText @bind-Value="User.Password" type="password" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Confirm Password</label>
                            <InputText @bind-Value="User.ConfirmPassword" type="password" class="form-control" />
                        </div>
                        <div class="mt-3">
                            @if (ShowLoadingButton)
                            {
                                <Client.Pages.OtherPages.ButtonLoadingSpinner></Client.Pages.OtherPages.ButtonLoadingSpinner>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary float-end">Register</button>
                            }
                        </div>
                    </div>
                    <div class="container">
                        <span class="text-center">
                            Have an account?
                            <a class="btn-link" href="/identity/account/login">Sign In</a>
                        </span>
                        <ValidationSummary />
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<Syncfusion.Blazor.Popups.SfDialogProvider />
@code {
    public bool ShowLoadingButton { get; set; } = false;
    Register User = new();

    async Task HandleRegistration()
    {
        ShowLoadingButton = true;
        var result = await accountService.CreateAsync(User);
        if (result.Flag)
        {
            await DisplayDialog(result.Message, "Register Successfully!");
            User = new();
        }
        else
        {
            await DisplayDialog(result.Message, "Register Failed!");
        }
        ShowLoadingButton = false;
    }

    private async Task DisplayDialog(string content, string title)
    {
        await DialogService.AlertAsync(content, title);
    }

    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }
    private async Task CheckUserAuthentication()
    {
        var authState = await AuthenticationState;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            string currentUri = NavManager.Uri;
            if (!currentUri.Contains("/home/dashboard"))
            {
                NavManager.NavigateTo("/home/dashboard");
            }
        }
        else
        {
            NavManager.NavigateTo("/identity/account/register");
        }
    }
}
